---
title: "  "
layout: splash
classes:
  - landing
  - dark-theme
header:
  overlay_image: assets/images/2023-07-17-Main_Page_Splash.jpg
intro:
  - excerpt: 'The League of Women Voters, a nonpartisan political organization, encourages the informed and active participation of citizens in government, and influences public policy through education and advocacy.'
  - url: /Join/
    btn_label: "JOIN!"
    btn_class: "btn--primary"
  - url: /Donate/
    btn_label: "DONATE!"
    btn_class: "btn--primary"

feature_events:
  - image_path: assets/images/2025-01-meetings.jpg
    alt: "Glittery gold happy new years with stars. Announcing January 2025 meetings including Speaker Superior Court Judge Gary Libey on Thursday, January 9, Noon to1 pm at the Umpqua Bank in Pullman and Board Meeting State Conference Planning on Saturday January 11, nine thirty am at Neills Coffee House and League Consensus Meeting on Elder Care and Immigration Studies  on Saturday January 18, 10 am at Neills Coffee House."
    title: "Join us for our events!"
    excerpt: 'Join us for our January meetings. We have a Board of the Whole so all members are welcome to attend. Please look for an email sent to members prior to each board meeting. If you are not a member and would like to attend as a guest, please do so or email.'
    url: /year-archive/
    btn_label: "See our events!"
    btn_class: "btn--primary"
feature_row:
  - image_path: /assets/images/2022-09-07-WSU_Voters_signup.jpg
    alt: "Image of voter registration signup table on WSU campus with Deb Olsen, Brandon Chapman and Sue Hinz."
    title: "About Us!"
    excerpt: "The League of Women Voters, a nonpartisan political organization, encourages the informed and active participation of citizens in government, and influences public policy through education and advocacy."
    url: /about/
    btn_label: "Who Are We?"
    btn_class: "btn--primary"
  - image_path: /assets/images/2025-02-Art_Comp_coming_soon_SM.jpg
    alt: "A picture of a flyer with an easel that says 2025 theme question mark. And the fourth annual visual arts competition launching on Presidents Day February 17, 2025. This civics education program is for student students in grades 3 to 12 living in Whitman County, Washington, and the website of LWVPULlman.org. There is clipart of a pencil and a pen and ink and the league logo."
    title: "League Art Competition"
    excerpt: "Our Visual Arts Competition Committee is gearing up for the 2025 program. Explore last year’s competition, and return on Feb 17, 2025, to discover the new theme and start creating."
    url: 'https://lwvpullman.org/docs/art%20competition/civics%20education/Visual_Arts_Competition_25/'
    btn_label: "Check out the 2025 Competition!"
    btn_class: "btn--primary"
  - image_path: /assets/images/flag.png
    alt: "American Flag"
    title: "Voter Information"
    excerpt: "U.S. citizens 18 and older who are residents of Washington State and have their full civil rights are eligible to vote."
    url: /voter_info/
    btn_label: "Learn how to Vote"
    btn_class: "btn--primary"
feature_row2:
  - image_path: /assets/images/2024-12-Observer_Corps_team.jpg
    alt: "Current Observer Corp Members"
    title: "Observer Corps"
    excerpt: 'The League of Women Voters of Pullman has an invaluable tool in its mission of working for good government when there is a vigorous and lively Observer Corps in place. This group forms the eyes and ears of the LWVP Board as participants attend and observe the workings of governmental bodies.'
    url: /observer_corps/
    btn_label: "Observer Corps Info"
    btn_class: "btn--primary"
feature_row3:
  - image_path: /assets/images/lwv_washington.png
    alt: "League of Women voters image"
    title: "League of Women Voters of Washington"
    excerpt: "The League is a federated organization with local, state and national organizational structures. Visit the Washington State League and learn about the many things they're doing!"
    url: 'https://www.lwvwa.org'
    btn_label: "Visit the WA League!"
    btn_class: "btn--primary"
  - image_path: /assets/images/league.jpeg
    title: "League of Women Voters of the United States"
    excerpt: "The League is a federated organization with local, state and national organizational structures. Visit the the US League and learn about the many things they're doing!"
    url: 'https://www.lwv.org'
    btn_label: "Visit the National League!"
    btn_class: "btn--primary"
---

{% include feature_row id="intro" type="center" %}

{% include feature_row id="feature_events" type="left" %}

{% include feature_row %}

{% include feature_row id="feature_row2" type="center" %}

{% include feature_row id="feature_row3" type="right" %}
