---
title: "  "
layout: splash
classes:
  - landing
  - dark-theme
header:
  overlay_image: assets/images/2022-10-14-Main_Page_Slpash.jpg
intro:
  - excerpt: 'The League of Women Voters, a nonpartisan political organization, encourages the informed and active participation of citizens in government, and influences public policy through education and advocacy.'
  - url: /Join/
    btn_label: "JOIN!"
    btn_class: "btn--primary"
  - url: /Donate/
    btn_label: "DONATE!"
    btn_class: "btn--primary"

feature_events:

  - image_path: /assets/images/2022-11-03-Inflation.jpg
    alt: "Picture of the evening presentation on &quot;The State of Our Economy&quot; November 3 at 7 PM which is a Zoom presentation with speakers Phil Watson, Ph.D. from University of Idaho, and Timothy Nadreau, Ph.D. from WSU."
    title: "Join us for our events!"
    excerpt: 'An evening presentation on &quot;The State of Our Economy&quot; November 3 at 7 PM.  
      <\br>[Join us on Zoom](https://us02web.zoom.us/j/81406778709?pwd=QmZUYlpaVEFxRHlTc1Fwd01KODJXQT09)
      <\br>Meeting ID: 814 0677 8709
      <\br>Passcode: 737803
      <\br>One tap mobile +12532158782,,81406778709#,,,,*737803# US (Tacoma)
      <\br>Dial by your location
      Find your local number: https://us02web.zoom.us/u/kcxqHrHr7'
    url: /year-archive/
    btn_label: "See our events!"
    btn_class: "btn--primary"
feature_row:
  - image_path: /assets/images/2022-09-07-WSU_Voters_signup.jpg
    alt: "Image of voter registration signup table on WSU campus with Deb Olsen, Brandon Chapman and Sue Hinz."
    title: "About Us!"
    excerpt: "The League of Women Voters, a nonpartisan political organization, encourages the informed and active participation of citizens in government, and influences public policy through education and advocacy."
    url: /about/
    btn_label: "Who Are We?"
    btn_class: "btn--primary"
  - image_path: /assets/images/2022-04-Winners_poster.jpg
    alt: "A collage of the visual arts competition’s 7 winning entires for the theme of What does democracy look like to you. Artwork includes a flag with a poem, eagle in a nest, eagle flying over people raised hands, people holding signs, people lined up at ballot box, silhouette of people with a sunset flag background, people with word bubbles overhead."
    title: "League Art Competition"
    excerpt: "Here are the winning entries for our first Visual Arts Competition, &quot;What does Democracy look like to you?&quot; Congratulations goes to not only the winners but to all of the participants for making this competition a success.  Click the red button below to see the artists with their work."
    url: 'https://lwvpullman.org/docs/art%20contest/civics%20education/Art_Contest/'
    btn_label: "See more about Competition!"
    btn_class: "btn--primary"
  - image_path: /assets/images/flag.png
    alt: "American Flag"
    title: "Voter Information"
    excerpt: "U.S. citizens 18 and older who are residents of Washington State and have their full civil rights are eligible to vote."
    url: /voter_info/
    btn_label: "Learn how to Vote"
    btn_class: "btn--primary"
feature_row2:
  - image_path: /assets/images/2021-12-Observer_Corp_Comm.jpg
    alt: "Current Observer Corp Members"
    title: "Observer Corps"
    excerpt: 'The League of Women Voters of Pullman has an invaluable tool in its mission of working for good government when there is a vigorous and lively Observer Corps in place. This group forms the eyes and ears of the LWVP Board as participants attend and observe the workings of governmental bodies.'
    url: /observer_corps/
    btn_label: "Observer Corps Info"
    btn_class: "btn--primary"
feature_row3:
  - image_path: /assets/images/lwv_washington.png
    alt: "League of Women voters image"
    title: "League of Women Voters of Washington"
    excerpt: "The League is a federated organization with local, state and national organizational structures. Visit the Washington State League and learn about the many things they're doing!"
    url: 'https://www.lwvwa.org'
    btn_label: "Visit the WA League!"
    btn_class: "btn--primary"
  - image_path: /assets/images/league.jpeg
    title: "League of Women Voters of the United States"
    excerpt: "The League is a federated organization with local, state and national organizational structures. Visit the the US League and learn about the many things they're doing!"
    url: 'https://www.lwv.org'
    btn_label: "Visit the National League!"
    btn_class: "btn--primary"
---

{% include feature_row id="intro" type="center" %}

{% include feature_row id="feature_events" type="left" %}

{% include feature_row %}

{% include feature_row id="feature_row2" type="center" %}

{% include feature_row id="feature_row3" type="right" %}
