---
title: "  "
layout: splash
classes:
  - landing
  - dark-theme
header:
  overlay_image: assets/images/2025-09-02-Main_Page_Splash.jpg
intro:
  - excerpt: 'The League of Women Voters, a nonpartisan political organization, encourages the informed and active participation of citizens in government, and influences public policy through education and advocacy.'
  - url: /Join/
    btn_label: "JOIN!"
    btn_class: "btn--primary"
  - url: /Donate/
    btn_label: "DONATE!"
    btn_class: "btn--primary"

feature_events:
  - image_path: assets/images/2025-12-06-Cookie_Exchange_Board_Meeting.jpg
    alt: "Festive LWV Pullman and Whitman County graphic announcing a Cookie Exchange and Board Meeting on Saturday, December 13, 2025, from nine thirty to eleven thirty a.m. The design features gingerbread figures, snowflake cookies, and holiday decorations with text encouraging attendees to bring cookies to share."
    title: "Our Events"
    excerpt: 'The Nov 13th event, Misinformation and Digital Platforms. What Do We Know and What Can We Do? is available for viewing on our YouTube Channel by going to the event page or clicking the YouTube link below.


Our next event is on Thursday, Dec 11 at 6:30 pm in person at PRH or Zoom.  Learn more about the LWVUS initiative called Unite and Rise 8.5.  Go to the event page to find out more.  


Join us for our December 13th Board Meeting where we’ll take care of business and enjoy a festive cookie exchange.  Go to the event page to find out more about this.  


[Join the Zoom meeting for the Dec 11th evening program here!](https://us02web.zoom.us/j/82387185069?pwd=YUh5b1FVbTdlRHNzV2VzeVJkcnJzdz09)


Zoom Meeting ID: 823 8718 5069    Passcode: 906666


[One tap mobile](tel:+12532158782,,82387185069#,,,,*906666#) US (Tacoma)'

    url: /year-archive/
    btn_label: "See our events!"
    btn_class: "btn--primary"
feature_row:
  - image_path: /assets/images/2022-09-07-WSU_Voters_signup.jpg
    alt: "Image of voter registration signup table on WSU campus with Deb Olsen, Brandon Chapman and Sue Hinz."
    title: "About Us!"
    excerpt: "The League of Women Voters, a nonpartisan political organization, encourages the informed and active participation of citizens in government, and influences public policy through education and advocacy."
    url: /about/
    btn_label: "Who Are We?"
    btn_class: "btn--primary"
  - image_path: /assets/images/2026-02-Art_Comp_coming_soon.jpg
    alt: "Graphic announcing the 5th Annual LWV Pullman and Whitman County Visual Arts Competition. A blank easel reads 2026 Theme ?????? with paintbrushes beside it. Launch date listed as Presidents Day, February 16, 2026, and eligibility for students in grades 3–12 in Whitman County, WA"
    title: "League Art Competition"
    excerpt: "Hey students, gear up your imaginative minds for the 5th annual visual arts competition. The theme will be launched on Feb 16, 2026."
    url: 'https://lwvpullman.org/docs/art%20competition/civics%20education/Visual_Arts_Competition_25/'
    btn_label: "Check out the 2025 Competition!"
    btn_class: "btn--primary"
  - image_path: /assets/images/flag.png
    alt: "American Flag"
    title: "Voter Information"
    excerpt: "U.S. citizens 18 and older who are residents of Washington State and have their full civil rights are eligible to vote."
    url: /voter_info/
    btn_label: "Learn how to Vote"
    btn_class: "btn--primary"
feature_row2:
  - image_path: /assets/images/2024-12-Observer_Corps_team.jpg
    alt: "Current Observer Corp Members"
    title: "Observer Corps"
    excerpt: 'The League of Women Voters of Pullman has an invaluable tool in its mission of working for good government when there is a vigorous and lively Observer Corps in place. This group forms the eyes and ears of the LWVP Board as participants attend and observe the workings of governmental bodies.'
    url: /observer_corps/
    btn_label: "Observer Corps Info"
    btn_class: "btn--primary"
feature_row3:
  - image_path: /assets/images/lwv_washington.png
    alt: "League of Women voters image"
    title: "League of Women Voters of Washington"
    excerpt: "The League is a federated organization with local, state and national organizational structures. Visit the Washington State League and learn about the many things they're doing!"
    url: 'https://www.lwvwa.org'
    btn_label: "Visit the WA League!"
    btn_class: "btn--primary"
  - image_path: /assets/images/league.jpeg
    title: "League of Women Voters of the United States"
    excerpt: "The League is a federated organization with local, state and national organizational structures. Visit the the US League and learn about the many things they're doing!"
    url: 'https://www.lwv.org'
    btn_label: "Visit the National League!"
    btn_class: "btn--primary"
---

{% include feature_row id="intro" type="center" %}

{% include feature_row id="feature_events" type="left" %}

{% include feature_row %}

{% include feature_row id="feature_row2" type="center" %}

{% include feature_row id="feature_row3" type="right" %}
